@model Telerik.Examples.Mvc.Models.Student

<h1>Custom popup editor</h1>

@(Html.LabelFor(x => x.FirstMidName))
@(Html.Kendo().TextBoxFor(x => x.FirstMidName))

@(Html.LabelFor(x => x.LastName))
@(Html.Kendo().TextBoxFor(x => x.LastName))

@(Html.LabelFor(x => x.Birthday))
@(Html.Kendo().DatePickerFor(x => x.Birthday).ToClientTemplate())