@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<string>
    <h2 class="text-center">Navigate to an example of your choice</h2>
<ul>
    @foreach (var item in Model)
    {
        if (@item.EndsWith("cshtml"))
        {
            var name = @item.Split(".")[0];
            var href = "/" + name + "/" + name;

            <li><a href="@href">@name</a>  </li>
        } 
        else
        {   
            <li style="margin-top: 30px;"><h4>@item</h4></li> 
        }
    }
</ul>
